.container-banner {
    height: 150px;
    width: 100%;
    overflow: hidden;
}

.banner-img {
    max-height: 150px;
    width: 100%;
    object-fit: cover;
}

.sticky {
    top: 0;
    position: sticky;
}

body {
    background: hsl(254, 99%, 95%);
}

.breadcrumbs-link-fill {
    white-space: nowrap;
}

.form-container {
    padding-top: 35px;
    margin-left: 50px;
}

.form-container textarea {
    max-width: 80%;
    margin-bottom: 15px;
}

.form-container input {
    max-width: 80%;
    margin-bottom: 15px;
}

.password-error-message {
    margin-bottom: 10px;
    margin-top: 10px;
}

.password-changed-message {
    margin-bottom: 30px;
}

.breadcrumbs-link-group{
    display: inline-block;

}

.button-as-text {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    cursor: pointer;
}

.card-links-box {
    justify-content: space-between;
}

.card-bottom-space {
    margin-bottom: 35px;
}

.projects-grid {
    max-width: 60%;
}

