<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="${project.getName()}"></title>
  <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div th:replace="fragments/mobile-nav :: mobile-nav"></div>
<div th:replace="fragments/header :: headertemplate (currentpage='projects')"></div>
<main id="main">

  <div th:replace="fragments/banner :: banner"></div>
  <div th:replace="fragments/breadcrumbs :: breadcrumbs (title=${project.getName()})"></div>
  <div class="container form-container">
    <div class="row">
      <div class="col-md-12">
        <h3 th:text="${project.getName()}" style="margin-bottom: 20px;"></h3>
        <p th:text="${project.getDetailedDescription()}"></p>

      </div>
    </div>
  </div>
</main><!-- End #main -->

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/arrowup :: arrowup"></div>
<div th:replace="fragments/jsfiles :: jsfiles"></div>

</body>

</html>