<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<!--This is the user/auth view-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <head>
    <title>Home</title>
    <div th:replace="fragments/head :: head"></div>
  </head>
  <body>
    <div th:replace="fragments/mobile-nav :: mobile-nav"></div>
    <div th:replace="fragments/header :: headertemplate (currentpage='extra')"></div>

    <main id="main"><!-- #main -->
      <div th:replace="fragments/banner :: banner"></div>
      <div th:replace="fragments/breadcrumbs :: breadcrumbs (title='Profile info')"></div>

        <div class="container form-container">
          <div sec:authorize="isAuthenticated()">
            <div th:if="${passwordChanged == true}" class="password-changed-message">
              <h4>Password changed successfully!!</h4>
            </div>
            <p th:text="'User name: ' + ${#authentication.getPrincipal().getUsername()}"></p>
            <p th:text="'Registered: ' + ${#authentication.getPrincipal().getCreationDate()}"></p>
            <p th:text="'Time since last login: ' + ${#authentication.getPrincipal().getTimeSinceLastLogin()}"></p>
            <p><a href="/" th:href="@{/user/reset-password}">Change password</a></p>

          </div>
        </div>

    </main><!-- End #main -->

    <div th:replace="fragments/footer :: footer"></div>
    <div th:replace="fragments/arrowup :: arrowup"></div>
    <div th:replace="fragments/jsfiles :: jsfiles"></div>
  </body>
</html>