<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>New report</title>
  <div th:replace="issuetracker/fragments/head :: head"></div>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="row justify-content-center">
  <div class="col-md-6" style="margin-top: 2rem">
    <h4 style="text-align: center">Create new report</h4>
    <form th:action="@{/tracker/create}" enctype="multipart/form-data" th:object="${issueFormDto}" method="post">
    <div style="display:flex; justify-content: center">
      <div class="form-row">
        <div style="float: left; margin-right: 1.5rem">
          <label for="type-save" style="display: block">Type: </label>
          <select name="type" style="display: block" id="type-save" th:field="*{type}">
            <option value="BUG">BUG</option>
            <option value="SUGGESTION">SUGGESTION</option>
            <option value="ENHANCEMENT">ENHANCEMENT</option>
          </select>
        </div>
        <div style="float: left; margin-right: 1.5rem">

          <label for="severity-save" style="display: block">Severity: </label>
          <select name="severity" style="display: block" id="severity-save" th:field="*{severity}">
            <option value="CRITICAL">CRITICAL</option>
            <option value="HIGH">HIGH</option>
            <option value="MEDIUM">MEDIUM</option>
            <option value="LOW">LOW</option>
          </select>
        </div>
        <div style="float: left; margin-right: 1.5rem">

          <label for="project-save" style="display: block">Project: </label>
          <select name="project" style="display: block" id="project-save" th:field="*{project}">
            <option value="MWP">MWP</option>
            <option value="TRACKER">TRACKER</option>
            <option value="SUDOKU">SUDOKU</option>
            <option value="DAP">DAP</option>
          </select>
        </div>
      </div>
  </div>
      <br>
      <div class="form-row">
        <div class="form-group">
          <label for="title" class="control-label">Title</label>
          <input id="title" class="form-control" type="text" th:field="*{title}">
        </div>
      <br>
      <div class="form-group">
        <label for="description" class="control-label">Description</label>
        <textarea id="description" class="form-control" rows="10" cols="80" th:field="*{description}"></textarea>
      </div>
        <div class="form-group">
          <label for="attachment" class="control-label">Add file (optional): </label>
          <input id="attachment" name="attachment" type="file" style="color: white" th:field="*{attachment}">
        </div>
        <div class="container issue-container">
          <div class="new-issue-button-box">
            <button type="submit" class="btn btn-primary btn-lg btn-block submit-button">Create new report</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>



<script type="text/javascript" th:src="@{/assets/js/main.js}"></script>
</body>
</html>