<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Home</title>
  <div th:replace="/fragments/head :: head"></div>
</head>
<body>
<div th:replace="/fragments/mobile-nav :: mobile-nav"></div>
<div th:replace="/fragments/header :: headertemplate (currentpage='home')"></div>

<main id="main"><!-- #main -->
  <div th:replace="/fragments/banner :: banner"></div>
  <div th:replace="/fragments/breadcrumbs :: breadcrumbs"></div>
  <div class="container register-form-container">
    <div sec:authorize="isAuthenticated()">
      <h4>Registration was successful!!</h4>
      <p th:text="'You are now logged in as ' + ${#authentication.getPrincipal().getUsername()}"></p>
      <a href="/user/info">See account details</a>
    </div>
    <div sec:authorize="isAnonymous()">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1>Registration</h1>
          <form th:action="@{/user/signup}" th:object="${userDto}" method="post">
            <div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'has-error':''">
              <label for="username" class="control-label">Username</label>
              <input id="username" class="form-control" th:field="*{username}"/>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
              <label for="password" class="control-label">Password</label>
              <input id="password" class="form-control" type="password" th:field="*{password}"/>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('passwordForValidation')}? 'has-error':''">
              <label for="passwordForValidation" class="control-label">Confirm password</label>
              <input id="passwordForValidation" class="form-control" type="password" th:field="*{passwordForValidation}" />
              <div class="password-error-message">
                <span class="error-message" th:text="${passwordMatchErrorMessage}"></span>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success">Register</button>
              <span>Already registered? <a href="/" th:href="@{/login}">Login here</a></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main><!-- End #main -->

<div th:replace="/fragments/footer :: footer"></div>
<div th:replace="/fragments/arrowup :: arrowup"></div>
<div th:replace="/fragments/jsfiles :: jsfiles"></div>
</body>

</html>