<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div th:fragment="breadcrumbs">
        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>Dobrý den!</h2>
                    <!--ol>
                        <li><p th:text="${#calendars.format(#calendars.createNow(), 'dd.MM.yyyy HH:mm')}"></p></li>
                    </ol-->
                    <div sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}">Log out</a>
                        <span class="breadcrumbs-link-fill"> / logged in as: </span>
                        <a href="/user/auth/info"><span th:text="' ' + ${#authentication.getPrincipal().getUsername()}"></span></a>
                    </div>
                    <div sec:authorize="isAnonymous()">
                        <a th:href="@{/login}">Log in</a>
                        <span class="breadcrumbs-link-fill"> / </span>
                        <a th:href="@{/user/signup}">Sign up</a>
                    </div>
                </div>
            </div>
        </section><!-- End Breadcrumbs -->
    </div>
</html>