<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<head>
  <title>Projects</title>
  <div th:replace="fragments/head :: head"></div>
</head>
<body>
  <div th:replace="fragments/mobile-nav :: mobile-nav"></div>
  <div th:replace="fragments/header :: headertemplate (currentpage='projects')"></div>
  <main id="main">

    <div th:replace="fragments/banner :: banner"></div>
    <div th:replace="fragments/breadcrumbs :: breadcrumbs"></div>

    <section class="inner-page">
      <div class="container">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>

      </div>
    </section>

  </main><!-- End #main -->

  <div th:replace="fragments/footer :: footer"></div>
  <div th:replace="fragments/arrowup :: arrowup"></div>
  <div th:replace="fragments/jsfiles :: jsfiles"></div>

</body>

</html>