<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>About Me</title>
  <div th:replace="fragments/head :: head"></div>
</head>
<body>
  <div th:replace="fragments/mobile-nav :: mobile-nav"></div>
  <div th:replace="fragments/header :: headertemplate (currentpage='about')"></div>


  <main id="main">

    <div th:replace="fragments/banner :: banner"></div>
    <div th:replace="fragments/breadcrumbs :: breadcrumbs (title='About me')"></div>

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="section-title">
          <h2>About</h2>
          <div class="row">
            <div class="col-md-12">
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">

        </div>

      </div>
    </section><!-- End Facts Section -->


  </main><!-- End #main -->

  <div th:replace="fragments/footer :: footer"></div>
  <div th:replace="fragments/arrowup :: arrowup"></div>
  <div th:replace="fragments/jsfiles :: jsfiles"></div>

</body>

</html>