<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Home</title>
  <div th:replace="fragments/head :: head"></div>
</head>
<body>
  <div th:replace="fragments/mobile-nav :: mobile-nav"></div>
  <div th:replace="fragments/header :: headertemplate (currentpage='home')"></div>

  <main id="main"><!-- #main -->
    <div th:replace="fragments/banner :: banner"></div>
    <div th:replace="fragments/breadcrumbs :: breadcrumbs (title='Home')"></div>

      <section id="index" class="container">
        <div class="row">
          <div class="col-lg-8">
          <h4>Welcome!</h4>
            <p>This is my personal website. It is intended as a showcase of my work
              and programming skills, mostly to potential employers.
              Feel free to browse all content and try all features. You can also
              <a href="/user/signup">signup</a>
              for additional functionality or <a href="/contact">leave me a message</a>.
            </p>
            <p>
              If you discover a bug or want to suggest a new feature, please let me know using the <a href="/tracker/dashboard">issue tracker application</a>.
            </p>
          </div>
        </div>
      </section>

  </main><!-- End #main -->

  <div th:replace="fragments/footer :: footer"></div>
  <div th:replace="fragments/arrowup :: arrowup"></div>
  <div th:replace="fragments/jsfiles :: jsfiles"></div>

</body>
</html>