<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Projects</title>
  <div th:replace="fragments/head :: head"></div>
</head>
<body>
  <div th:replace="fragments/mobile-nav :: mobile-nav"></div>
  <div th:replace="fragments/header :: headertemplate (currentpage='projects')"></div>
  <main id="main">
     <div th:replace="fragments/banner :: banner"></div>
     <div th:replace="fragments/breadcrumbs :: breadcrumbs (title='My projects')"></div>
     <section id="projects" class="resume">
        <div class="password-error-message">
          <h5 class="error-message" style="color:red" th:text="${errorMessage}"></h5>
        </div>
        <div class="container projects-card">
            <div class="card card-bottom-space" th:each="project: ${projects}" style="width: 20rem;">
                <a th:href="@{/projects/details(id=${project.getId()})}" th:utext="${project.getSnapshot()}"></a>
                <div class="card-body">
                  <h4 class="card-title" th:text="${project.getName()}"></h4>
                  <p class="card-text" th:text="${project.getIntroduction()}"></p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" th:utext="'<h6>' + 'Technologies used' + ':' + '</h6>' + ${project.getLanguage()}"></li>
                </ul>
                <div style="max-height: 10%" class="card-body d-flex justify-content-between">
                  <a class="card-link" th:href="@{/projects/details(id=${project.getId()})}">Details</a>
                  <a class="card-link" th:href="${project.getGithubLink()}">Github</a>
                </div>
            </div>
        </div>
     </section>
  </main><!-- End #main -->

  <div th:replace="fragments/footer :: footer"></div>
  <div style="z-index: 9999" th:replace="fragments/arrowup :: arrowup"></div>
  <div th:replace="fragments/jsfiles :: jsfiles"></div>

</body>

</html>