<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<head>
  <title>Resume</title>
  <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div th:replace="fragments/mobile-nav :: mobile-nav"></div>
<div th:replace="fragments/header :: headertemplate (currentpage='resume')"></div>

  <main id="main">

    <div th:replace="fragments/banner :: banner"></div>
    <div th:replace="fragments/breadcrumbs :: breadcrumbs (title='My resume')"></div>


    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <!-- ========= Resume Header =========-->
        <div class="section-title">
          <div class="row">
            <div class="col-lg-9">
              <h2>Jakub Hrubý</h2>
            </div>
          </div>
          <p>
            <em>
            </em>
          </p>
          <hr>
        </div>
        <!-- ========= End Resume Header =========-->
        <div class="row">
          <div class="col-lg-12">
            <h3 class="resume-title">About me</h3>
            <p>
              What started as a minor hobby to fill free time during early days of the pandemic quickly developed into a full-scale passion for the world of software development. It offers an engaging way to continually
              challenge myself and improve my skills, aspects I’ve been missing in my professional life so far. After nearly two years spent learning and developing my own applications I now believe I am ready to
              start a new career in software development.
            </p>
            <p>
              Below you’ll find projects I’ve completed that showcase my skills and general background in developing software applications.
              Detailed description of each can be found <a href="/projects">in the projects section</a>.
            </p>
            <hr>
          </div>
        </div>
        <!-- ========= Technologies =========-->
        <div class="row">
          <div class="col-lg-12">
          <h3 class="resume-title">Languages and Technologies</h3>
          <ul>
            <li><b>Java, Python, Spring, Hibernate, Git, MySQL</b></li>
            <li>Exposure: Linux, Docker, HTML5, CSS3, Maven, Thymeleaf, Javascript, PyQT5</li>
          </ul>
          <hr>
          </div>
        </div>
        <!-- ========= End Technologies =========-->

        <!-- ========= Projects summary =========-->
        <div class="row">
          <div class="col-lg-12">
            <h3 class="resume-title">Projects Summary</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="">
              <h4>My website</h4>
              <h5>2021</h5>
              <p><em>Java, Spring, Hibernate, MySQL, HTML5, CSS3, Docker, Thymeleaf</em></p>
              <ul>
                <li>Set of Spring boot applications utilizing microservices architecture and several additional tools (MySQL, Netflix Eureka, NGINX).</li>
                <li>Created as a platform used to showcase my other projects as well as my resume.</li>
              </ul>
            </div>
            <br>
            <div class="">
              <h4>Issue tracker</h4>
              <h5>2021</h5>
              <p><em>Java, Javascript, Spring, Hibernate, MySQL, HTML5, CSS3, Docker, Thymeleaf</em></p>
              <ul>
                <li>Web-based Spring/Javascript application used to create, browse and manage reports of bugs or planned new features for my projects in order to help organize my workflow and improve time management.</li>
                <li>It is deployed as part of my website and allows any registered user to post reports.</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="">
              <h4>DAP marketplace bot</h4>
              <h5>2020 - 2021</h5>
              <p><em>Python, PyQT5, requests, BeautifulSoup4</em></p>
              <ul>
                <li>Python program designed to simplify exchanging work shifts at my most recent job by automating various tasks within the company internal information system.</li>
                <li>Features a fully-fledged gui created with PyQT5 library.</li>
              </ul>
            </div>
            <br>
            <div class="">
              <h4>Sudoku game and solver</h4>
              <h5>2021</h5>
              <p><em>Python, pygame</em></p>
              <ul>
                <li>This python application allows the user to play the classic sudoku game on randomly generated boards.</li>
                <li>Tracks score and time played, and also can find the solution of any given board by using the backtracking algorithm.</li>
              </ul>            </div>
          </div>
        </div>
        <hr>
        <!-- ========= End Projects summary =========-->

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Education</h3>
            <div class="">
              <h4>Master of Geology</h4>
              <h5>2016 - 2017 <span style="font-size: 80%">(master)</span><br>2013 - 2016 <span style="font-size: 80%">(bachelor)</span></h5>
              <p><em>Faculty of science, Masaryk university, Brno</em></p>
              <ul>
                <li>Completed two-year masters course in a single year.</li>
                <li>Master thesis: Petrological and mineralogical characteristics of orogenic lamproites in the Orlické hory mts.</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="">
              <h4>Auditor</h4>
              <h5>2015 - present</h5>
              <p><em>Dantem, Brno, Czech Republic</em></p>
              <ul>
                <li>Executed audits of various assets and goods for client companies.</li>
                <li>Served as an assistant team leader, helping manage teams of up to 20 people.</li>
                <li>Delegated tasks to members of the team and provided counsel on all aspects of the work. </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Resume Section -->

    <!-- ======= Skills Section ======= >
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">HTML <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">PHP <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">WordPress/CMS <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Photoshop <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section>< End Skills Section -->

  </main><!-- End #main -->

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/arrowup :: arrowup"></div>
<div th:replace="fragments/jsfiles :: jsfiles"></div>

</body>

</html>