<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div th:fragment="breadcrumbs(title)">
        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2 class="breadcrumbs-margin" th:text="${title}"></h2>
                    <!--ol>
                        <li><p th:text="${#calendars.format(#calendars.createNow(), 'dd.MM.yyyy HH:mm')}"></p></li>
                    </ol-->
                    <div>
                    <div sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post" class="breadcrumbs-link-group">
                            <input type="submit" value="Log out" class="button-as-text"/>
                        </form>
                        <!--a th:href="@{/login}" meth>Log out</a-->
                        <span class="breadcrumbs-link-fill breadcrumbs-link-group"> / logged in as: </span>
                        <a href="/user/auth/info"><span th:text="' ' + ${#authentication.getPrincipal().getUsername()}"></span></a>
                    </div>
                    <div sec:authorize="isAnonymous()" >
                        <a th:href="@{/user/login}" class="breadcrumbs-link-fill">Log in</a>
                        <span class="breadcrumbs-link-fill"> / </span>
                        <a th:href="@{/user/signup}" class="breadcrumbs-link-fill">Sign up</a>
                    </div>
                    </div>
                </div>
            </div>
        </section><!-- End Breadcrumbs -->
    </div>
</html>